/*Reset default margin, padding and box-sizing*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*Styling for background of whole page*/
  body{
    background: #111;
  }
  
  /*Styling for logo*/
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
  }
  

  a{
    font-size: 1.5em;
    color: antiquewhite;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  /*Styling for slider section*/
  .slider{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: #000;
  }
  
  /*Styling for images within slider*/
  .slider .img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: center;
    transition: 1.5s;
    z-index: 1;
    clip-path: circle(0px at center);
  }

  /*Styling for the checked radio input within the slider*/
  .slider input[type="radio"]:checked + .img{
    z-index: 10;
    clip-path: circle(1000px at center);
  }
  
  /*Styling fot images within the slider*/
  .slider .img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /*Styling for content within the slider images */
  .slider .img .content{
    position: relative;
    text-align: center;
    max-width: 800px;
  }
  
  /*Styling for the header within the slider content*/
  .slider .img .content h2{
    font-size: 4em;
    line-height: 1em;
    letter-spacing: 6px;
    color: antiquewhite;
    text-transform: uppercase;
    margin-top: 350px;
  }
  
  /*Styling for radio input elements*/
  .slider input[type="radio"]{
    position: relative;
    z-index: 100;
    margin: 5px;
    margin-bottom: 40px;
    outline: none;
    cursor: pointer;
  }
  
  /*Styling for h2 elements*/
  h2 {
    position: relative;
    top: 250px;
    color: #999
  }